# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheelhouse/
sdist/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.venv/
env/
.venv-*/

# macOS
.DS_Store

# Editor / IDE
.vscode/
*.swp
*.swo
*.swn
.idea/